<app>

<div class="container is-flex is-flex-direction-column">
    <img src="images/logo.png" width="200" height="200" alt="logo" />
    <h1 class="is-size-1 has-text-left has-text-light has-text-weight-bold mb-5">GitClout</h1>
    <div class="row">
      <main class="column column-60">
    <repository-input></repository-input>
      </main>
    </div>
  </div>

</app>